.content{
  height: 100vh !important;
}

.heroImageOver {
  position: absolute;
  background-color: black !important;
}

.heroImage {
  position: relative;
  width: 100vw;
  height: 100vh !important;
  opacity: 0.5;
}

.formContent {
  display: block;
  position: absolute;
  align-items: center;
  top: 118px;
  background-color: #fff;
  width: 92vw;
  height: 30vh;
  margin-left: 40px;
  border-radius: 7px;
}

.formTitle {
  display: flex;
  border-start-start-radius: 7px;
  border-start-end-radius: 7px;
  height: 40px;
  padding-top: 5px;
  letter-spacing: 1px;
  background-color: #cecece;
}

h2 {
  font-size: 1.2rem !important;
  padding-left: 15px;
}

.form {
  display: flex;
  /* width: 69vw; */
}

.text {
  color: #6c757d;
}

.button {
  width: 150px;
  height: 38px;
}